
.AchorPane {
    -fx-opacity: 0.5;
    -fx-background-color: #BCE8EB;
}

.textMenu {
    -fx-text-fill: #FFF;
    -fx-alignment: center;
    -fx-font-family: "Inter";
    -fx-font-size: 22px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-spacing: 10px;
    }
.menu {
    -fx-background-radius: 40px;
    -fx-background-color: #2093C5;
}
.menu:hover {
    -fx-background-color: #4A66FB;
}
.menu:pressed {
    -fx-background-color: #FFF;
}

.Number {
     -fx-pref-width: 107px;
     -fx-pref-height: 140px;
    -fx-background-radius: 40px;
    -fx-background-color: #4A66FB;
}

.Number:hover {
    -fx-background-color: #2093C5;
}
.Number:pressed {
    -fx-background-color: #FFF;
}

.textNumber {
    -fx-text-fill: #E6DBDB;
    -fx-alignment: center;
    -fx-font-family: "Inter";
    -fx-font-size: 50px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
}

.textNumberGame {
    -fx-text-fill: #000;
    -fx-alignment: center;
    -fx-font-family: "Inter";
    -fx-font-size: 22px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
}

.numberGame {
    -fx-pref-width: 95px;
    -fx-pref-height: 85px;
    -fx-background-color: #BCE8EB;
}
.numberGame:hover {
    -fx-background-color: #4A66FB;
}

.game {
    -fx-alignment: center-right;
    -fx-spacing: 47px;
}