
.AchorPane {
    -fx-opacity: 0.5;
    -fx-background-color: #BCE8EB;
}

.menu:hover {
    -fx-opacity: 0.2;
}
.menu:pressed {
    -fx-background-color: #FFF;
}

.Number {
     -fx-pref-width: 100px;
     -fx-pref-height: 118px;
    -fx-background-radius: 40px;
    -fx-background-color: #4A66FB;
}

.Number:hover {
    -fx-background-color: #2093C5;
}
.Number:pressed {
    -fx-background-color: #FFF;
}

.textNumber {
    -fx-text-fill: #E6DBDB;
    -fx-alignment: center;
    -fx-font-family: "Inter";
    -fx-font-size: 30px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
}

.textNumberGame {
    -fx-text-fill: #000;
    -fx-alignment: center;
    -fx-font-family: "Inter";
    -fx-font-size: 15px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
}

.numberGame {
    -fx-pref-width: 50px;
    -fx-pref-height: 51px;
    -fx-background-color: #BCE8EB;
}
.numberGame:hover {
    -fx-background-color: #4A66FB;
}


.game {
    -fx-alignment: center-right;
    -fx-spacing: 92px;
}